CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y
CONFIG_TARGET_ramips_mt7620_Default=y
# CONFIG_GRUB_CONSOLE is not set
# CONFIG_PACKAGE_luci-app-qbittorrent is not set
#CONFIG_PACKAGE_luci-app-ssr-plus=y
#CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks=y
#CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Simple_obfs=y
#CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray_plugin=y
#CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=y
#CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Server=y
#CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Socks=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-webadmin=y
CONFIG_PACKAGE_luci-i18n-webadmin-zh-cn=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_htop=y
CONFIG_KERNEL_BUILD_USER="FFT Portable"
CONFIG_GRUB_TITLE="OpenWrt AutoBuild by FFT"
CONFIG_PACKAGE_portmap=y

